<div class="container mt-3">
  <div class="form-container">
    <h2>Book this Cosplay!</h2>
    <%= render 'form' %>
    <div class="image-card">
      <%= cl_image_tag(@cosplay.images.first.key, width: 200, height: 200) %>
    </div>
    <div class="cosplay-details">
        <h1 class="title"><%= @cosplay.name %></h1>
        <p class="price"><%= @cosplay.price %> ¥ / Per day</p>
  </div>
</div>
