<div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://github.com/rubykytam"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://github.com/Nikita-Nagras"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://github.com/ntw3001"><i class="fab fa-github"></i></a>
    <a target="_blank" href="https://github.com/Jasufr"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="#">Privacy</a>・
    <a href="#">Terms</a>・
    <span>2024 CosHub,Inc.</span>
  </div>
</div>
