<div class="banner">
  <div class="banner-text">
    <h1 style="font-family: Anta">CosHub</h1>
    <p style="font-family: Kode Mono">Cosplay delivery, to your door, lightning fast</p>
  </div>
</div>
<div class="container">

  <div class="card-container">
    <div class="homepage-card">a striking outfit</div>
    <div class="homepage-card">a striking outfit</div>
    <div class="homepage-card">a striking outfit</div>
    <div class="homepage-card">a striking outfit</div>
  </div>
</div>
