<div class="banner">
  <div class="banner-text">
    <h1>CosHub</h1>
    <p>Cosplay delivery, to your door, lightning fast</p>
  </div>
</div>
<div class="container">
  <div class="card-container">
    <% @cosplays.each do |cosplay| %>
      <%= link_to cosplay_path(cosplay), class:"card-link" do %>
        <div class="homepage-card" style="background-image: url( <%= cosplay.images.attached? ? cl_image_path(cosplay.images.first.key) : image_path("logo.png") %> )">
          <h3> <%= cosplay.name %> </h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
