<% if cosplay.images.any? %>
  <% cosplay.images.each_with_index do |image, index|%>
    <div class="carousel-item <%= "active" if index == 0 %>" style="background-image: url(<%= cl_image_path(image.key) %>);">
    </div>
  <%end%>
<% else %>
  <%= image_tag "logo.png", alt: "default" %>
<% end %>
