<% if cosplay.images.any? %>
  <% cosplay.images.each_with_index do |image, index|%>
    <div class="carousel-item <%= "active" if index == 0 %>" style="background-image: url(<%= cl_image_path(image.key) %>);">
    </div>
  <%end%>
<% else %>
  <div class="carousel-item active" style="background-image: url(<%= image_url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png") %>);">
  </div>
<% end %>
