<%# <div class="banner">
  <div class="banner-text">
    <h1>CosHub</h1>
    <p>Cosplay delivery, to your door, lightning fast</p>
  </div>
</div> %>
<div class="container">
  <div class="card-container">
    <% if @cosplays.any? %>
      <% @cosplays.each do |cosplay| %>
        <%= link_to cosplay_path(cosplay), class:"card-link" do %>
          <div class="homepage-card" style="background-image: url( <%= cosplay.images.attached? ? cl_image_path(cosplay.images.first.key) : image_path("logo.png") %> )">
            <h3> <%= cosplay.name %> </h3>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <em>Sorry, no cosplays found!</em>
    <% end %>
  </div>
  <div class="pag-bar mt-5 pt-5 d-flex">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
</div>
