<div class="container">
  <div class="cosplay-show-card">
    <img class="cosplay-picture" src="" alt="">
    <div class="cosplay-infos">
      <h1 class="title"></h1>
      <p class="price"></p>
      <p class="details"></p>
      <p class="disponibility-status"></p>
    </div>
    <button class="booking-button">Book Now</button>
  </div>
</div>
