.banner {
  height: 100px;
  width: 100%;
  background-size: cover;
  background-color: $red;
  background-position: top;
  display: flex;
  justify-content: left;
  align-items:center;
  position: relative;
  text-shadow: $light-gray 5px;
}

.banner-text {
  color: $gray;
  font-size: 100%;
  align-items: vertical;
  position: absolute;
  top: 10%;
  left: 20px;
  line-height: 20px;
  opacity: 0.8;
  text-shadow: 2px 0px 5px $light-gray;
  font-weight: bold;
}
