h1 {
  margin: 10px auto;
}
.booking-card {
  margin: 0 auto;
  margin-top: 20px;
  padding: 18px;
}
.booking-infos {
  margin: 0 auto;
}

.booking-details {
  padding: 12px;
}
.booking-details > * {
  margin: 0
}
