// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 400 to 700

// .kode-mono-<uniquifier> {
//   font-family: "Kode Mono", monospace;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// .anta-regular-<uniquifier> {
//   font-family: "Anta", sans-serif;
//   font-weight: <weight>;
//   font-style: normal;
// }
