.form-container {
    width: 50%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px $gray;
    border-radius: 8px;


    padding: 12px 20px;

    margin: 0 auto;
}

.image-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
}

.cosplay-details {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 1000px) {
  .form-container {
    width: 100%;
  }
}
