.homepage-card {
  background-size: cover;
  background-position: center;
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  box-shadow: 0 0 10px $gray;
  display: flex;
  align-items: end;
  padding: 5%;
  justify-content: space-around;
  font-size: 100%;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px $gray;
  background-color: $blue;
}
