.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  background-color: $red;
  color: $light-gray;
  z-index: 100;
  margin-bottom: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.login-button {
color: $gray;
background-color: $light-gray;
}

#price_range {
  width: 32px;
  height: 100%;
}

.search-form {
  align-items: center;
}

#navbarSupportedContent {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: $light-gray;
  color: $gray;
  padding: 8px;
  border-radius: 8px;
  line-height: 32px;
  box-shadow: 0 0 10px $gray;
}

.dropdown-item {
  padding: 4px;
  &:hover {
      background-color: rgba(1,186,239,0.25);
    }
}

@media (max-width: 600px) {
  .search-form * {
    font-size: 10px;
    height: 30px;

  }
  .login-button {
    font-size: 10px;
  }
}
